<div class="admin-post question-post">
  <h5>By: {{post.username}}</h5>
  {{#link-to 'post' post.id}}<h3><span>Q:</span>{{post.title}}</h3>{{/link-to}}
  <p>{{post.content}}</p>
  <footer class="row">
    <p class="col-md-6 seeComments"><i class="comment icon"></i>See comments</p>
    <p class="col-md-6 delete-post"><i class="write icon"></i>Delete this post</p>
  </footer>
</div>
