<div class="ui threaded comments">
  <div class="comment">
    <div class="content">
      <a class="user">{{comment.title}}</a>
      <div class="metadata">
        <span class="date">{{comment.user}}</span>
      </div>
      <div class="text">
        <p>{{comment.description}}</p>
      </div>
    </div>
  </div>
</div>
