<div class="ui threaded comments well">
  <div class="comment">
    <div class="content">
      <p class="user"><strong>{{comment.title}}</strong> | <em>By: {{comment.user}}</em></p>
      <div class="text">
        <p>{{comment.description}}</p>
      </div>
    </div>
  </div>
</div>
