<div class="ui basic modal confim-modal">
  <p {{action 'closeModal'}} class="close-modal">CLOSE</p>
  <h1>Are you sure you want to delete this post?</h1>
  <div class="ui buttons" id="uibuttons">
    <button {{action "destroyPost", post}} class="ui button positive" value=yes>Yes</button>
    <div class="or"></div>
    <button class="ui button" value=no>No</button>
  </div>
</div>
