<div class="post-detail">
  <h5>By: {{post.username}}</h5>
  <h3 class=posth3><span>Q:</span>{{post.title}}</h3>
  <p>{{post.content}}</p>
</div>
<h3>Comments:</h3>
<div class="post-comments">
  {{#each post.comments as |comment|}}
    <div class="ui comments each-comment">
      {{comment-tile comment=comment}}
    </div>
  {{/each}}
</div>
