<div class="post-detail">
  <h5>By: {{post.username}}</h5>
  <h3><span>Q:</span>{{post.title}}</h3>
  <p>{{post.content}}</p>
  <div class="ui tiny labeled submit icon button">
      <i class="icon edit"></i> Leave a comment
  </div>
</div>
