<div id="update">
  <div class="ui small modal updatemodal">
    <i class="close icon large"></i>
    <div class="header">Update Post</div>
    <div class="content">
      <form id="update">
        <div class="form-group">
          {{input value=username id="username" placeholder="choose a username" class="form-control"}}
        </div>
        <div class="form-group">
          {{input value=title id="title" placeholder="title" class="form-control"}}
        </div>
        <div class="form-group">
          {{textarea class="form-control" value=content id="content" placeholder="content"}}
        </div>
        <button class="ui basic button">
          <i {{action 'update' post}} class="comments outline icon"></i>
          Update
        </button>
      </form>
    </div>
  </div>
</div>
