body {
  font-size: 24px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(39,50,58);
  font-family: 'Cormorant Garamond', serif;
}

.body {
  width: 70%;
  margin-left: 15%;
  background-color: #94b8b8;
  /*opacity: 0.4;*/
  height: 1200px;
  margin-bottom: 80px;
}

/* ------------- Top bar --------------- */
.nav {
  width: 100%;
  height: 60px;
  background-color: ;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 15px;
  /*position: fixed;*/
}

.nav h3 {
  font-family: 'Cormorant Garamond', serif;
  padding-top: 10px;
  font-size: 1.18em;
  color: #d9d9d9;
  letter-spacing: 4px;
}

.fa-bars {
  font-size: 24px;
  padding-top: 20px;
  cursor: pointer;
  padding-left: 25px;
  color: #808080;
}

.justify {
  text-align: left;
  padding-top: 12px;
  color :#808080;
  padding-right: 180px;
}

.justify:hover,
.nav h3:hover,
.icons i:hover,
.footer .icons i:hover,
.nav-contents a:hover,
.nav-contents p:hover {
  color: #cccccc;
  cursor: pointer;
}

.icons i {
  padding: 8px;
  margin-top: 10px;
  color: #808080;
  padding-right: 25px;
  font-size: 18px;
}

.fa-search {
  border-left: solid 1px #d9d9d9;
  padding-left: 2px;
  font-size: 20px;
}

/* ------------- nav contents --------------- */
.nav-contents {
  display: none;
  color: #bfbfbf;
  width: 12%;
  height: 1200px;
  position: fixed;
  padding-top: 10px;
  z-index: 5;
}

.nav-contents a,
.nav-contents li {
  color: #bfbfbf;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: ;
  text-align: center;
}

.nav-contents .admin-nav {
  padding-top: 45px;
}

.sidebar-brand {
  margin-top: 20px;
}

.close {
  padding-bottom: 20px;
  color: #fff;
  float: left;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
}

/* ------------- contact page --------------- */
.contact {
  padding: 0 20px 0 20px;
  color: #f2f2f2;
}

.contact h2,
.about h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px #e6e6e6;
}

.contact p {
  font-size: 20px;
}

.contact .well {
  opacity: 0.8;
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  padding: 40px;
}

.contact .well button {
  background-color: #996666;
  color: white;
  width: 60%;
  margin-top: 10px;
}

/* ------------- about page --------------- */

.about {
  color: #f2f2f2;
  padding-top: 35px;
}

.about p {
  font-size: 20px;
  padding: 40px 30px 0 40px;
  text-align: center;
}
.about h2 {
  text-align: center;
  padding-top: 20px;
}

.circular {
  color: #996666;
}

/* ------------- footer --------------- */
.footer {
  border-top: 1px solid #4d4d4d;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .icons {
  text-align: center;
  font-size: 14px;
}
