body {
  font-size: 24px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(39,50,58);
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #808080;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  color: black;
}

.header-image {
  opacity: 0.9;
  width: 60%;
  margin-left: 20%;
  padding-top: 60px;
  padding-bottom: 0px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.slogan {
  padding-top: 50px;
}

.body {
  width: 78%;
  margin-left: 11%;
  background-color: #94b8b8;
  min-height: 1000px;
  margin-top: 20px;
  margin-bottom: 80px;
}

/* ------------- Top bar --------------- */
.nav {
  width: 100%;
  height: 60px;
  background-color: ;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 25px;
  /*position: fixed;*/
}

.nav h3 {
  font-family: 'Cormorant Garamond', serif;
  padding-top: 10px;
  font-size: 1.18em;
  color: #d9d9d9;
  letter-spacing: 4px;
}

h3.title:hover {
  text-decoration: none;
  color: white;
}

.fa-bars {
  font-size: 24px;
  padding-top: 20px;
  cursor: pointer;
  padding-left: 25px;
  color: #808080;
}

.justify {
  text-align: left;
  padding-top: 12px;
  color :#808080;
  padding-right: 180px;
}

.justify:hover,
.icons i:hover,
.footer .icons i:hover,
.nav-contents a:hover,
.nav-contents p:hover {
  color:  #737373;
  cursor: pointer;
}

.icons i {
  padding: 8px;
  margin-top: 10px;
  color: #808080;
  padding-right: 25px;
  font-size: 18px;
}

.fa-search {
  border-left: solid 1px #d9d9d9;
  padding-left: 2px;
  font-size: 20px;
}

/* ------------- nav contents --------------- */
.nav-contents {
  display: none;
  color: #bfbfbf;
  width: 12%;
  height: 1200px;
  position: fixed;
  padding-top: 10px;
  z-index: 5;
}

.nav-contents a,
.nav-contents li {
  color: #bfbfbf;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  padding-top: ;
  text-align: center;
}

.nav-contents .admin-nav {
  padding-top: 45px;
}

.sidebar-brand {
  margin-top: 20px;
}

.close {
  padding-bottom: 20px;
  color: #fff;
  float: left;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'Josefin Sans', sans-serif;
}

/* ------------- nav contents --------------- */
.modal {
  background-color: #f2f2f2;
  padding: 40px;
  width: 50%;
  margin-left: 25%;
  height: 350px;
  margin-top: 20%;
}

#modal {
  margin-top: 200px;
}

.modal .header {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
}

.modal button {
  background-color: #996666;
  color: white;
}
/* ------------- contact page --------------- */
.contact {
  padding: 0 40px 0 40px;
  color: #f2f2f2;
}

.contact h2 {
  border-bottom: 2px solid  #a3c2c2;
  padding-bottom: 3px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px #e6e6e6;
  width: 95%;
}

.contact p {
  font-size: 20px;
}

.contact .well {
  opacity: 0.8;
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  padding: 40px;
}

.contact .well button {
  background-color: #996666;
  color: white;
  width: 60%;
  margin-top: 10px;
}

/* ------------- about page --------------- */

.about {
  color: #f2f2f2;
  padding-top: 35px;
}

.about p {
  font-size: 20px;
  padding: 60px 0 0 60px;
}
.about h2 {
  text-align: center;
  padding-top: 20px;
  border-bottom: 2px solid  #a3c2c2;
  padding-bottom: 3px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px #e6e6e6;
  width: 80%;
  margin-left: 10%;
}

.circular {
  color: #996666;
}

/* ------------- posts--------------- */
.center-block {
  border-radius: none;
  background-color: #cc6666;
  color: white;
  font-size: 18px;
  z-index: 5;
  margin-top: 25px;
}

.center-block:hover {
  background-color:  #b89494;
  color: white;
}

.question-post,
.post-detail {
  padding: 50px;
  border-bottom: 1px solid #5c8a8a;
  padding-top: 50px;
}

.question-post h5,
.post-detail h5 {
  font-family: 'Josefin Sans', sans-serif;
  color: #996666;
  text-transform: uppercase;
}

.question-post h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #595959;
  padding-top: 25px;
}

.question-post h3:hover {
  color: #b3b3b3;
}

.question-post p,
.post-detail p {
  font-size: 18px;
  padding: 15px 25px 0 30px;
}

.question-post span,
.post-detail span {
  font-weight: 700;
  font-size: 20px;
  padding-right: 12px;
}

.question-post .comment {
  color: #f2f2f2;
  float: right;
}

.question-post .comment:hover,
.post-detail .comment:hover {
  color: #b3b3b3;
  cursor: pointer;
}

.question-post span:hover,
.post-detail span:hover {
  color:#4d4d4d;
}

.post-detail {
  background-color: #e6e6e6;
  margin-top: 70px;
  width: 70%;
  margin-left: 15%;
}

.post-detail h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #595959;
}

.edit {
  color: #996666;
}

.button {
  float: right;
}

/* ------------- admin --------------- */
.admin {
  background-color: #e0ebeb;
  width: 80%;
  margin-left: 10%;
  min-height: 900px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.admin-post {
  padding-bottom: 0;
  padding-bottom: 30px;
  border-bottom: 40px solid rgb(39,50,58);
}


footer.row p {
  text-align: center;
  color: #666;
  cursor: pointer;
}

footer p:hover {
  color: black;
}

.admin-post .comment {
  color: #94b8b8;
  padding-right: 5px;
  float: none;
  margin-bottom: 0px;
}

.admin-post .trash {
  color: #cc3300;
}

.admin-post .edit {
  padding: 0;
  color: #3973ac;
  cursor: pointer;
}

.hidden-form {
  width: 70%;
  margin-left: 15%;
}

#uibuttons {
  width: 131px;
  padding-left: 40%;
  margin-top: 20px;
}

/* ------------- footer --------------- */
.footer {
  border-top: 1px solid #4d4d4d;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .icons {
  text-align: center;
  font-size: 14px;
}
