<div class="admin">
  {{#each model as |post|}}
    {{admin-post post=post destroyPost="destroyPost"}}
    {{update-form post=post update="update" showUpdateForm="showUpdateForm"}}
  {{/each}}
</div>
